<div id="divList" class="row"></div>
<a class="btn btn-success" id="btnEkle">Hasta Ekle</a>
<form>
    <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Yeni bir Hasta Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Name</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="txtName" placeholder="Name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>



@section Scripts{
    <script>
        $(document).ready(function () {



            $("#btnAdd").click(function () {
                $("input.form-control").val('')
                $("#modalAdd").modal('show');
                $("#btnSave").off().click(function () {
                    var patientname = $("#txtPatient").val();


                    $.ajax({
                        type: 'POST',
                        url: '/Patient/Add',
                        data: { id: id, patientname: patientname },
                        success: function () {
                            $("#modalAdd").modal("hide");
                            $("#tblPatients").DataTable().ajax.reload();
                        }
                    })
                });
            });
        });


        function fillDataTable() {
            $("#tblPatients").DataTable({
                ajax: '/Patient/GetAll',
                columns: [
                    { data: 'id', title: 'ID' },
                    { data: 'patientname', title: 'Hasta Adı' }
                ],
            });
        }


        function updatePatient(id, nameSurname, isCanceled) {
            $("#txtPatient").val(nameSurname);

            $("#modalAdd").modal("show");
            $("#modalTitle").text("Hasta Güncelle");
            $("#btnSave").text("Güncelle");
            $("#btnSave").off();

            $("#btnSave").click(function () {
                var patientname = $("#txtPatient").val();

                $.ajax({
                    type: 'POST',
                    url: '/Patient/Update',
                    data: { id: id, patientname: patientname },
                    success: function () {
                        $("#modalAdd").modal("hide");
                        $("#tblPatients").DataTables().ajax.reload();
                    }
                })
            })
        }

    </script>
}




