<a class="btn btn-success" id="btnEkle">Randevu Ekle</a>
<div id="divList" class="row"></div>

<form>
    <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Yeni bir Randevu Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Adınız Soyadınız</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="txtName" placeholder="Lütfen adınızı ve soyadınızı giriniz">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">TCKN</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="txtTCKN" placeholder="Lütfen TC Kimlik No giriniz">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Bölüm Adı</label>
                            <div class="col-8">
                                <select class="form-select" name="script" id="ddlDepartment"> </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Doktor Adı</label>
                            <div class="col-8">
                                <select class="form-select" name="script" id="ddlDoctor"> </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Randevu Tarihi</label>
                            <div class="col-8">
                                <input type="datetime-local" class="form-control" id="txtAppointment" placeholder="Lütfen bir randevu tarihi giriniz">
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <a  id="btnSave" class="btn btn-primary">Randevu Oluştur</a>
                </div>
            </div>
        </div>
    </div>
</form>



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            
            fillList();
            fillDepartment();
            Listele();
            
            
            $("#btnEkle").click(function () {
                $("#modalAdd").modal('show')
                fillList();
                Listele();


                $("#btnSave").off().click(function () {
                    let randevu = {
                        appointment: {
                            name: $("#txtName").val(),
                            tckn: $("#txtTCKN").val(),
                            departmentId: $("#ddlDepartment").val(),
                            doctorId: $("#ddlDoctor").val(),
                            appointment: $("#txtAppointment").val()

                        }
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/Appointment/Add',
                        data: randevu,
                        success: function () {
                            $("#modalAdd").modal('hide');
                            
                            Listele();
                        }
                    });
                });
            });

            
            
            function Listele() {

                $.ajax({
                    type: 'GET',
                    url: '/Appointment/GetAll',
                    success: function (res) {
                        $("#divList").empty();
                        for (var item of res) {
                            $("#divList").append(`<div class="col-4">
                                   <div class="card">
                                      <div class="card-body">
                                          <h3 class="card-title bg-danger text-white"></h3>
                                                 HastaneId : ${item.hospitalId}
                                               <p class="card-text">${item.departmentId}</p>

                                                <p class="card-text">${item.appointmentDate}</p>

                                                 <p class="card-text">${item.hospitalName}</p>

                                                           <p class="card-text">${item.departmentName}</p>

                                                         <p class="card-text">${item.doctorName}</p>

                                                 <p class="card-text">${item.isCanceled}</p>
                                        </div>
                                               <div class="card-footer text-center"><a onclick="setYapildi(${item.id})" class="btn btn-success">Done</a>    <a onclick="Sil(${item.id})" class="btn btn-danger">Sil</a> </div>
                                 </div>
                            </div>`)
                        }
                    }
                });

            }


            function fillList() {
                $.ajax({
                    type: 'GET',
                    url: '/Doctor/GetAll',
                    success: function (res) {
                        $("#ddlDoctor").empty();
                        for (var item of res) {
                            $("#ddlDoctor").append(new Option(item.name, item.id, false));
                           

                        }
                    }

                });

            }

            function fillDepartment() {
                $.ajax({
                    type: 'GET',
                    url: '/Department/GetAll',
                    success: function (res) {
                        $("#ddlDepartment").empty();
                        for (var item of res) {
                            $("#ddlDepartment").append(new Option(item.name, item.id, false));
                        }
                    }
                    
                });
                
            }

        });
    </script>
}