<a class="btn btn-success" id="btnEkle">Randevu Ekle</a>
<div id="divList" class="row"></div>
<div id="divListPatinet" class="row"> </div>
<form>
    <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Yeni bir Randevu Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Hastane Adı</label>
                            <div class="col-8">
                                <select  class="form-select" id="ddlHospital" placeholder="Hastane Adı  "></select>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Name Surname</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="txtName" placeholder="Kullanıcı Adınız ">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">TCKN</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="txtTCKN" placeholder="TC Number ">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Yas</label>
                            <div class="col-8">
                                <input type="number" class="form-control" id="txtYas" placeholder="Yas ">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Adres</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="txtAdres" placeholder="Adress">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Phone</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="txtPhone" placeholder="Telefon">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Select Departman</label>
                            <div class="col-8">
                                <select class="form-select" name="script" id="ddlDepartment"> </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Select Kullanıcı </label>
                            <div class="col-8">
                                <select class="form-select" name="script" id="ddlUser"> </select>
                            </div>
                        </div>

                        @* <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Select Patient</label>
                            <div class="col-8">
                                <select class="form-select" name="script" id="ddlPatient"> </select>
                            </div>
                        </div> *@

                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Select Doctor</label>
                            <div class="col-8">
                                <select class="form-select" name="script" id="ddlDoctor"> </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Appointment</label>
                            <div class="col-8">
                                <input type="datetime-local" class="form-control" id="txtAppointment" placeholder="Entry Days ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a  id="btnAppointment" class="btn btn-primary">Create Appointment</a>
                </div>
            </div>
        </div>
    </div>
</form>



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            Listele();
            $("#btnEkle").click(function () {
                $("input").val('');
                $("#modalId").modal('show')
                fillListHospital();
                fillListDoctor();
                fillListDepartment();
                fillListPatient();
                fillListUser();
            });
            $("#btnAppointment").off().click(function () {                            

                $.ajax({
                    type: 'POST',
                    url: '/Appointment/Add',
                    data: randevu1 = {
                        hospitalId: $("#ddlHospital").val(),
                        departmentId: $("#ddlDepartment").val(),
                        doctorId: $("#ddlDoctor").val(),
                        appointmentDate: $("#txtAppointment").val(),

                        patient: {
                            patientName: $("#txtName").val(),
                            tckn: $("#txtTCKN").val(),
                            address: $("#txtAdres").val(),
                            Phone: $("#txtPhone").val(),
                            age: $("#txtYas").val(),
                            departmentId: $("#ddlDepartment").val(),
                            userId:$("#ddlUser").val()
                            
                        }
                    },
                    success: function () {
                        $("#modalId").modal('hide');
                        Listele();
                    }
                });
            })    
        })
        function Listele() {//büyük harfle yazmıssın sen metodu ama guncelleme yapıldıktan sonra kucuk harfle cagirmissin, normalde javascript dunyasında metod isimleri camelCase dir yani kucuk harfle baslr bilgin olsun.
            $.ajax({
                type: 'GET',
                url: '/Appointment/GetAll',
                success: function (res) {
                    $("#divList").empty();
                    for (var item of res) {
                        console.log(item);
                        const patientName = item.patient && item.patient.patientName ? item.patient.patientName : 'Belirtilmemiş';
                        // const patientTCKN = item.patient && item.patient.tckn ? item.patient.tckn : 'Belirtilmemiş';

                        $("#divList").append(`
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title bg-danger text-white"></h3>
                                        <p class="card-text">Hosptail isim ${item.hospital.hospitalName}</p>
                                                 <p class="card-text">Hasta ismi ${patientName}</p>
                                          <p class="card-text">Hasta TCKN ${item.patient.tckn}</p>
                                                  <p class="card-text">Hasta Yas ${item.patient.age}</p>
                                                 <p class="card-text">Hasta Adress ${item.patient.address}</p>
                                                 <p class="card-text">Hasta Telefon ${item.patient.phone}</p>
                                                                 <p class="card-text">Hasta Telefon ${item.patient.userId}</p>
                                                <p class="card-text"> Departman Adı :${item.department.departmantName}</p>
                                        <p class="card-text"> Doktor Adı :${item.doctor.doctorName}</p>
                                        <p class="card-text"> Randevu Tarihi : ${item.appointmentDate}</p>
                                    </div>
                                    <div class="card-footer text-center">
                                     <a onclick="Update(${item.id},'${item.hospital.hospitalId}','${patientName}','${item.patient.tckn}','${item.patient.age}','${item.patient.address}','${item.patient.phone}','${item.department.departmantId}','${item.doctor.doctorId}','${item.appointmentDate}')  " class="btn btn-success">Guncelle</a>
                                        <a onclick="Delete(${item.id})" class="btn btn-danger">Sil</a>
                                    </div>
                                </div>
                            </div>
                        `);
                    }
                }
            });
        }
        function Delete(id){
            let deleteee ={id:id }
            $.ajax({
                type:"POST",
                url:"/Appointment/DeleteById",
                data: deleteee,
                success: function () {
                    Listele()
                }
            })
        }
        // function Update(id, hospitalName, departmantName, doctorName, appointmentDate, patientName, tckn, address, phone, age) {

        //     Listele(id);
          
        //     $("#ddlHospital").val(hospitalName);
        //     $("#ddlDepartment").val(departmantName);
        //     $("#ddlDoctor").val(doctorName);
        //     $("#txtAppointment").val(appointmentDate);
        //     $("#txtName").val(patientName);
        //     $("#txtTCKN").val(tckn);
        //     $("#txtAdres").val(address);
        //     $("#txtPhone").val(phone);
        //     $("#txtYas").val(age);
        //         $("#modalId").modal('show')

        //     $("#Update").off();
        //     $("#Update").click(function () {
        //         var hospitalname = $("#ddlHospital").val();
        //         var departmantname = $("#ddlDepartment").val();
        //         var doctorname = $("#ddlDoctor").val();
        //         var appointmentdate=  $("#txtAppointment").val();
        //         var patientname= $("#txtName").val();
        //         var tckn= $("#txtTCKN").val();
        //         var address=  $("#txtAdres").val();
        //         var phone=  $("#txtPhone").val();
        //         var age=  $("#txtYas").val();

        //         $.ajax({
        //             type:"POST",
        //             url: "/Appointment/Update",
        //             data: { id: id, hospitalName: hospitalname, departmantName: departmantname, doctorName: doctorname, appointmentDate: appointmentdate, patientName: patientname, TCKN: tckn, Address: address, Phone: phone, Age: age }
        //             success:function(){
        //                 alert("Guncelleme yapıldı");
        //                 $("#modalId").modal('hide');
        //             }
        //         })


        //     });

            


            
       //  }

        function Update(id, hospitalId, patientName, tckn, age, address, phone, departmantId, doctorId, appointmentDate) {
            // $("input").val("");
            
                fillListHospital(hospitalId);
            $("#ddlHospital").val(hospitalId);
                fillListDepartment(departmantId);
            $("#ddlDepartment").val(departmantId);
                fillListDoctor(doctorId);
            $("#ddlDoctor").val(doctorId);
                $("#txtAppointment").val(appointmentDate);

                $("#txtName").val(patientName);
                $("#txtTCKN").val(tckn);
            $("#txtAdres").val(address);
            $("#txtPhone").val(phone);
            $("#txtYas").val(age);
            $("#modalId").modal("show");
                $("#modalTitleId").text("Randevu Güncelle ");
            $("#btnAppointment").text("Guncelle");

            $("#btnAppointment").off();


            $("#btnAppointment").click(function () {
               
                $.ajax({
                    type:"POST",
                    url:"/Appointment/Update",
                    data: {
                        id:id,
                        hospitalId: $("#ddlHospital").val(),
                        departmentId: $("#ddlDepartment").val(),
                        doctorId: $("#ddlDoctor").val(),
                        appointmentDate: $("#txtAppointment").val(),

                        patient: {
                            patientName: $("#txtName").val(),
                            tckn: $("#txtTCKN").val(),
                            address: $("#txtAdres").val(),
                            Phone: $("#txtPhone").val(),
                            age: $("#txtYas").val(),
                            departmentId: $("#ddlDepartment").val(),
                        }
                    },
                    success: function () {
                        alert("Güncelleme Yapıldı");
                        $("#modalId").modal("hide");
                        Listele();
                    }
                })
            })
        }
        
            function fillListDoctor(doctorName) {
                $.ajax({
                    type:'GET',
                    url:'/Doctor/GetAll',
                    success:function(res){
                        $("#ddlDoctor").empty();
                        for (var item of res) {
                            $("#ddlDoctor").append(new Option(item.doctorName,item.id,false));
                        }
                    }
                })
            }
        function fillListDepartment(departmantId) {
                $.ajax({
                    type:'GET',
                    url:'/Department/GetAll',
                    success: function (res) {
                        $("#ddlDepartment").empty();
                        for (var item of res) {
                        $("#ddlDepartment").append(new Option(item.departmantName, item.id, false, item.id == departmantId));
                        }
                    }
                })
        }
            function fillListHospital(hospitalId){
                $.ajax({
                    type:'GET',
                    url:'/Hospital/GetAll',
                    success: function (res) {
                        $("#ddlHospital").empty();
                        for (var item of res) {
                        $("#ddlHospital").append(new Option(item.hospitalName, item.id, false, item.id == hospitalId));
                        }
                    }
                })
            }
        function fillListUser(userId) {
            $.ajax({
                type: 'GET',
                url: '/Admin/User/GetAll',
                success: function (res) {
                    $("#ddlUser").empty();
                    for (var item of res) {
                        $("#ddlUser").append(new Option(item.email, item.id, false, item.id == userId));
                    }
                }
            })
        }
            function fillListPatient(patientName) {
            $.ajax({
                type: 'GET',
                url: '/Patient/GetAll',
                success: function (res) {
                    $("#txtName").empty(); 
                    for (var item of res) {
                        $("#txtName").append(`<option value="<${item.tckn}">${item.patientName}</option>`);
                        

                    }
                }
            });
    </script>
}