<a class="btn btn-success" id="btnEkle">Randevu Ekle</a>
<div id="divList" class="row"></div>
<div id="divListPatinet" class="row"> </div>
<form>
    <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Yeni bir Randevu Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="txtAppointmentId" />
                    <div class="container-fluid">
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Hastane Adı</label>
                            <div class="col-8">
                                <select  class="form-select" id="ddlHospital" placeholder="Hastane Adı  "></select>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Name Surname</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="txtName" placeholder="Name Surname ">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">TCKN</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="txtTCKN" placeholder="TC Number ">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Yas</label>
                            <div class="col-8">
                                <input type="number" class="form-control" id="txtYas" placeholder="Yas ">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Adres</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="txtAdres" placeholder="Adress">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Phone</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="txtPhone" placeholder="Telefon">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Select Departman</label>
                            <div class="col-8">
                                <select class="form-select" name="script" id="ddlDepartment"> </select>
                            </div>
                        </div>

                        @* <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Select Patient</label>
                            <div class="col-8">
                                <select class="form-select" name="script" id="ddlPatient"> </select>
                            </div>
                        </div> *@

                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Select Doctor</label>
                            <div class="col-8">
                                <select class="form-select" name="script" id="ddlDoctor"> </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Appointment</label>
                            <div class="col-8">
                                <input type="datetime-local" class="form-control" id="txtAppointment" placeholder="Entry Days ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a  id="btnAppointment" class="btn btn-primary">Create Appointment</a>
                </div>
            </div>
        </div>
    </div>
</form>



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            
           
            Listele();
            
            $("#btnEkle").click(function () {
                $("input").val('');
                $("#modalId").modal('show')
                fillListHospital();
                fillListDoctor();
                fillListDepartment();
                fillListPatient();
            });
            $("#btnAppointment").off().click(function () {                            

                // let randevu = {
                //     hospitalId: $("#ddlHospital").val(),
                //     departmentId: $("#ddlDepartment").val(),

                    
                //    patientName: $("#txtName").val(), // Burada değer boşsa "Belirtilmemiş" olarak gösterilir
                   
                //     tckn: $("#txtTCKN").val() || "Belirtilmemiş",
                //     doctorId: $("#ddlDoctor").val(),
                //     appointmentDate: $("#txtAppointment").val(),
                //     address: $("#txtAdres").val(),
                //     Phone: $("#txtPhone").val(),
                //     age: $("#txtYas").val()
                // }
                    // let patient = {
                    
                    //     address: $("#txtAdres").val(),
                    //     Phone: $("#txtPhone").val()
                    // }
               



                // $.ajax({
                //     type: 'POST',
                //     url: '/Appointment/Add',
                //     data: randevu,
                //     success: function () {
                //         $("#modalId").modal('hide');
                        
                //     }
                // }),

               
                $.ajax({
                    type: 'POST',
                    url: '/Appointment/Add',
                    data: randevu1 = {
                        hospitalId: $("#ddlHospital").val(),
                        departmentId: $("#ddlDepartment").val(),
                        doctorId: $("#ddlDoctor").val(),
                        appointmentDate: $("#txtAppointment").val(),

                        patient: {
                            patientName: $("#txtName").val(),
                            tckn: $("#txtTCKN").val(),
                            address: $("#txtAdres").val(),
                            Phone: $("#txtPhone").val(),
                            age: $("#txtYas").val(),
                            departmentId: $("#ddlDepartment").val(),
                        }
                    },
                    success: function () {
                        $("#modalId").modal('hide');
                        Listele();
                    }
                });
           
            })    
        })
            // function Listele() {

            //     $.ajax({
            //         type: 'GET',
            //         url: '/Appointment/GetAll',
            //         success: function (res) {
            //             $("#divList").empty();
            //             for (var item of res) {
            //                 console.log(item);
            //                     $("#divList").append(`<div class="col-4">
            //                        <div class="card">
            //                           <div class="card-body">
            //                               <h3 class="card-title bg-danger text-white"></h3>

            //                              <p class="card-text">Hosptail isim ${item.hospital.hospitalName}</p>
            //                              <p class="card-text">Hasta ismi ${item.patient.patientName}</p>
            //                              <p class="card-text">Hasta TCKN ${item.patient.tckn}</p>
            //                              <p class="card-text"> Departman Adı :${item.department.departmantName}</p>
            //                              <p class="card-text"> Doktor Adı :${item.doctor.doctorName}</p>
            //                              <p class="card-text"> Randevu Tarihi : ${item.appointmentDate}</p>
                                                
            //                             </div>
            //                                    <div class="card-footer text-center"><a onclick="setYapildi(${item.id})" class="btn btn-success">Done</a>    <a onclick="Sil(${item.id})" class="btn btn-danger">Sil</a> </div>
            //                      </div>
            //                 </div>`)
            //             }
            //         }
            //     });
            // }

        // function Listele() {
        //     $.ajax({
        //         type: 'GET',
        //         url: '/Appointment/GetAll',
        //         success: function (res) {
        //             $("#divList").empty();
        //             for (var item of res) {
        //                 console.log(item);
        //                 $("#divList").append(`
        //                     <div class="col-4">
        //                         <div class="card">
        //                             <div class="card-body">
        //                                 <h3 class="card-title bg-danger text-white"></h3>
        //                                 <p class="card-text">Hosptail isim ${item.hospital.hospitalName}</p>
        //                                 <p class="card-text">Hasta ismi ${item.patient ? item.patient.patientName : 'Belirtilmemiş'}</p>
        //                                 <p class="card-text">Hasta TCKN ${item.patient ? item.patient.tckn : 'Belirtilmemiş'}</p>
        //                                 <p class="card-text"> Departman Adı :${item.department ? item.department.departmantName : 'Belirtilmemiş'}</p>
        //                                 <p class="card-text"> Doktor Adı :${item.doctor ? item.doctor.doctorName : 'Belirtilmemiş'}</p>
        //                                 <p class="card-text"> Randevu Tarihi : ${item.appointmentDate}</p>
        //                             </div>
        //                             <div class="card-footer text-center">
        //                                 <a onclick="setYapildi(${item.id})" class="btn btn-success">Done</a>
        //                                 <a onclick="Sil(${item.id})" class="btn btn-danger">Sil</a>
        //                             </div>
        //                         </div>
        //                     </div>
        //                 `);
        //             }
        //         }
        //     });
        // }

       

        function Listele() {
            $.ajax({
                type: 'GET',
                url: '/Appointment/GetAll',
                success: function (res) {
                    $("#divList").empty();
                    for (var item of res) {
                        //console.log(item);
                         const patientName = item.patient && item.patient.patientName ? item.patient.patientName : 'Belirtilmemiş';
                         const patientTCKN = item.patient && item.patient.tckn ? item.patient.tckn : 'Belirtilmemiş';

                        $("#divList").append(`
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title bg-danger text-white"></h3>
                                        <p class="card-text">Hosptail isim ${item.hospital.hospitalName}</p>
                                                 <p class="card-text">Hasta ismi ${patientName}</p>
                                                  <p class="card-text">Hasta TCKN ${patientTCKN}</p>

                                                <p class="card-text"> Departman Adı :${item.department.departmantName}</p>
                                        <p class="card-text"> Doktor Adı :${item.doctor.doctorName}</p>
                                        <p class="card-text"> Randevu Tarihi : ${item.appointmentDate}</p>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a onclick="Guncelle(${item.id})" class="btn btn-success">Güncelle</a>
                                        <a onclick="Sil(${item.id})" class="btn btn-danger">Sil</a>
                                    </div>
                                </div>
                            </div>
                        `);
                    }
                }
            });
        }
        
            function fillListDoctor(doctorName) {

                $.ajax({
                    type:'GET',
                    url:'/Doctor/GetAll',
                    success:function(res){
                        $("#ddlDoctor").empty();
                        for (var item of res) {
                            $("#ddlDoctor").append(new Option(item.doctorName,item.id,false));
                        }
                    }
                })
            }
            function fillListDepartment(departmantName) {
                $.ajax({
                    type:'GET',
                    url:'/Department/GetAll',
                    success: function (res) {
                        $("#ddlDepartment").empty();
                        for (var item of res) {
                            $("#ddlDepartment").append(new Option(item.departmantName, item.id, false));
                        }
                    }
                })
            }
            function fillListHospital(hospitalName){
                $.ajax({
                    type:'GET',
                    url:'/Hospital/GetAll',
                    success: function (res) {
                        $("#ddlHospital").empty();
                        for (var item of res) {
                            $("#ddlHospital").append(new Option(item.hospitalName, item.id, false));
                        }
                    }
                })
            }
        function fillListPatient(patientName) {
            $.ajax({
                type: 'GET',
                url: '/Patient/GetAll',
                success: function (res) {
                    $("#txtName").empty(); // Alanı temizleyelim
                    for (var item of res) {
                       // $("#txtName").append(new Option(item.patientName, item.id, false));
                        $("#txtName").append(`<option value="${item.tckn}">${item.patientName}</option>`);
                    }
                }
            });
        }

        function Sil(id) {

            let x = {
                id:id
            }

            $.ajax({
                type:'POST',
                url:'/Appointment/DeleteById',
                data:x,
                success: function () {
                    Listele();
                }
            })
            
        }


        function fillTextBoxes(id) {
            $.ajax({
                type: 'GET',
                url: '/Appointment/GetAll',
                success: function (data) {
                    $("#btnAppointment").empty();
                    for (var item of data) {
                        $("#btnAppointment").append(new Option(item.name, item.id, false));
                    }
                }
            })
        }

        function Guncelle(id, hospitalId, patientName, tckn, departmentId, doctorId, appointmentDate) {
            fillListHospital(hospitalId);
            $("#ddlHospital").val(hospitalId);
            fillListDepartment(departmentId);
            $("#ddlDepartment").val(departmentId);
            fillListDoctor(doctorId);
            $("#ddlDoctor").val(doctorId);
            $("#txtAppointment").val(appointmentDate);

            $("#txtName").val(patientName);
            $("#txtTCKN ").val(tckn);
            $("#txtAdres").val();
            $("#txtPhone").val();
            $("#txtYas").val();
            $("#modalId").modal("show");
            $("#modalTitleId").text("Randevu Güncelle");
            $("#btnAppointment").text("Güncelle");
            
        }


                    //GÜNCELLEME İÇİN !!
                    // $("input").val('');
                    // $("#modalId").modal('show'),
                    // fillListDepartment();
                    // fillListDoctor();
                    // fillListHospital();
                    // fillListPatient();
                    // $("#modalTitleId").text("Randevu Güncelle");
                    // $("#btnAppointment").text("Güncelle");

            
            //10.DENEME
            // $("input").val('');
            // $("#modalId").modal('show'),
            //    fillListDepartment();
            //    fillListDoctor();
            //    fillListHospital();
            //    fillListPatient();
            // $("#modalTitleId").text("Randevu Güncelle");
            // $("#btnAppointment").text("Güncelle");
            
            // var hospital: $("#ddlHospital").val();
            // var name: $("#txtName").val();
            // var tckn: $("#txtTCKN").val();
            // var yas: ("#txtYas").val();
            // var address: $("#txtAdres").val();
            // var phone: $("#txtPhone").val();
            // var department: ("#ddlDepartment").val();
            // var doctor: ("#ddlDoctor").val();
            // var appointment: ("#txtAppointment").val();
            // fillTextBoxes();


            // $.ajax({
            //     type:'POST',
            //     url:'/Appointment/Update',
            //     data: { id: id, hospital: hospital, Name: name, tckn:tckn, yas:yas, adres: address, phone:phone, department:department,doctor:doctor, appointment:appointment },
            //     success: function () {
            //         $("#modalAdd").modal("hide");
            // })

            


           
        
            //9.DENEME
            // $("#btnAppointment").click(function () {
            //     var id = $("#txtAppointmentId").val(); // Güncellenecek randevu ID'sini alın
            //     var department = $("#ddlDepartment").val();
            //     var doctor = $("#ddlDoctor").val();
            //     var hospital = $("#ddlHospital").val()

            //     var updatedData = {
            //         Id: id,
            //         Department: department,
            //         Doctor: doctor,
            //         Hospital: hospital,
            //         Appointment: appointment,
            //         Name: name,
            //         Tckn: tckn,
            //         Address: address,
            //         Phone: phone,
            //         Yas: yas
            //         // Diğer randevu özelliklerini ekleyin
            //     };

            //     $.ajax({
            //         type: 'POST',
            //         url: '/Appointment/Update',
            //         data: updatedData,
            //         success: function (updatedAppointmentId) {
            //             console.log('Güncellenen randevu Id:', updatedAppointmentId);

            //             $("#card-" + id + " .hospital-name").text("Hastane Adı: " + hospital);
            //             $("#card-" + id + " .patient-name").text("Hasta Adı: " + name);
            //             $("#card-" + id + " .patient-tckn").text("TCKN: " + tckn);
            //             $("#card-" + id + " .patient-age").text("Yaş: " + age);
            //             $("#card-" + id + " .patient-address").text("Adres: " + address);
            //             $("#card-" + id + " .patient-phone").text("Telefon: " + phone);
            //             $("#card-" + id + " .department-name").text("Departman Adı: " + department);
            //             $("#card-" + id + " .doctor-name").text("Doktor Adı: " + doctor);
            //             $("#card-" + id + " .appointment-date").text("Randevu Tarihi: " + appointment);

            //             $("#modalId").modal('hide');
            //         },
            //         error: function (error) {
            //             console.error('Randevu güncelleme hatası:', error);
            //         }
            //     });


            // });
        
            
            
            
            
            //8.DENEME
            // $("#btnAppointment").click(function () {
            //     var id = $("#txtAppointmentId").val(); // Güncellenecek randevu ID'sini alın
            //     var department = $("#ddlDepartment").val();
            //     var doctor = $("#ddlDoctor").val();
            //     var hospital = $("#ddlHospital").val();

            //     var appointment = {
            //         Id: id,
            //         Department: department,
            //         Doctor: doctor,
            //         Hospital: hospital,
            //         Appointment: appointment,
            //         Name: name,
            //         Tckn: tckn,
            //         Address: address,
            //         Phone: phone,
            //         Yas: yas
            //         // Diğer randevu özelliklerini ekleyin
            //     };

            //     $.ajax({
            //         type: 'POST',
            //         url: '/Appointment/Update',
            //         contentType: 'application/json',
            //         data: JSON.stringify(appointment),
            //         success: function (updatedAppointmentId) {
            //             console.log('Güncellenen randevu ID:', updatedAppointmentId);
            //             $("#modalId").modal('hide');
            //             // İsteğin başarılı olması durumunda isteğe bağlı olarak randevu listesini güncelleyebilirsiniz
            //             Listele();
            //         },
            //         error: function (error) {
            //             console.error('Randevu güncelleme hatası:', error);
            //         }
            //     });
            // });



            //7.DENEME2
            // $("input").val('');
            // $("#modalId").modal('show'),
            // fillListDepartment();
            // fillListDoctor();
            // fillListHospital();
            // fillListPatient();
            // $("#modalTitleId").text("Randevu Güncelle");
            // $("#btnAppointment").text("Güncelle");
            // $("#btnAppointment").click(function () {
            //     let appointment= {
            //         hospital: $("#ddlHospital").val(),
            //         department: $("#ddlDepartment").val(),
            //         doctor: $("#ddlDoctor").val(),
            //         appointment: $("#txtAppointment").val(),
            //         name: $("#txtName").val(),
            //         tckn: $("#txtTCKN").val(),
            //         address: $("#txtAdres").val(),
            //         phone: $("#txtPhone").val(),
            //         yas: $("#txtYas").val(),

            //         $.ajax({
            //             type: 'POST',
            //             url: '/Appointment/Update',
            //             success: function (appointment) {
            //                 Listele();
            //             }
            //         })
                     
                    //7.DENEME1
                    // $("#ddlHospital").val(appointment.hospitalId),
                    // $("#ddlDepartment").val(appointment.departmentId),
                    // $("#ddlDoctor").val(appointment.doctorId),
                    // $("#txtAppointment").val(appointment.appointmentDate),
                    // $("#txtName").val(appointment.patient.patientName),
                    // $("#txtTCKN").val(appointment.patient.tckn),
                    // $("#txtAdres").val(appointment.patient.address),
                    // $("#txtPhone").val(appointment.patient.Phone),
                    // $("#txtYas").val(appointment.patient.age)
                

                    

            //6.DENEME
            // $("input").val('');
            // $("#modalId").modal('show'),
            // fillListDepartment();
            // fillListDoctor();
            // fillListHospital();
            // fillListPatient();
            // $("#modalTitleId").text("Randevu Güncelle");
            // $("#btnAppointment").text("Güncelle");
            // $("#btnAppointment").off();
            // $("#txtAppointmentId").val(id);
            // $.ajax({
            //     type: 'GET',
            //     url: '/Appointment/Update',
            //     success: function (appointment) {
            //         // Modal alanlarını mevcut verilerle doldurun
            //         $("#ddlHospital").val(appointment.hospitalId);
            //         $("#ddlDepartment").val(appointment.departmentId);
            //         $("#ddlDoctor").val(appointment.doctorId);
            //         $("#txtAppointment").val(appointment.appointmentDate);
            //         $("#txtName").val(appointment.patient.patientName);
            //         $("#txtTCKN").val(appointment.patient.tckn);
            //         $("#txtAdres").val(appointment.patient.address);
            //         $("#txtPhone").val(appointment.patient.Phone);
            //         $("#txtYas").val(appointment.patient.age);
            //     }
            // })



            //5.DENEME (function icine patientname, tckn, address, phone, age yazıldı.)
            // $("input").val('');
            // $("#modalId").modal('show'),
            // fillListDepartment();
            // fillListDoctor();
            // fillListHospital();
            // fillListPatient();

            // $("#modalTitleId").text("Randevu Güncelle");
            // $("#btnAppointment").text("Güncelle");
            // $("#btnAppointment").off();
            // $("#btnAppointment").click(function () {
            //     let patient = {
            //         patientName: $("#txtName").val(),
            //         tckn: $("#txtTCKN").val(),
            //         address: $("#txtAdres").val(),
            //         Phone: $("#txtPhone").val(),
            //         age: $("#txtYas").val(),
            //     };

            //     $.ajax({
            //         type: 'POST',
            //         url: 'Appointment/Update',
            //         data: {patientName:patientname, tckn:tckn, address:address, Phone:phone, age:age},
            //         success: function (res) {
            //             alert("güncelleme yapıldı");
            //         }
            //     });
            // });

           
            //4.DENEME
            // $("input").val('');
            // $("#modalId").modal('show'),
            // fillListDepartment();
            // fillListDoctor();
            // fillListHospital();
            // fillListPatient();
            // $("#txtAppointmentId").val(id);
            // $.ajax({
            //     type: 'GET',
            //     url: '/Appointment/Update',
            //     success: function (appointment) {
            //         // Modal alanlarını mevcut verilerle doldurun
            //         $("#ddlHospital").val(appointment.hospitalId);
            //         $("#ddlDepartment").val(appointment.departmentId);
            //         $("#ddlDoctor").val(appointment.doctorId);
            //         $("#txtAppointment").val(appointment.appointmentDate);
            //         $("#txtName").val(appointment.patient.patientName);
            //         $("#txtTCKN").val(appointment.patient.tckn);
            //         $("#txtAdres").val(appointment.patient.address);
            //         $("#txtPhone").val(appointment.patient.Phone);
            //         $("#txtYas").val(appointment.patient.age);
            //     }
            // })
            



            //3.DENEME
            // $("input").val('');
            // $("#modalId").modal('show'),

            //     fillListDepartment();
            //     fillListDoctor();
            //    fillListHospital();
            //    fillListPatient();
            // $("#modalTitleId").text("Randevu Güncelle");
            // $("#btnAppointment").text("Güncelle");
            // $("#btnAppointment").off();
            // $("#btnAppointment").click(function () {
            //     var department = $("#ddlDepartment").val();
            //     var doctor = $("#ddlDoctor").val();
            //     var hospital = $("#ddlHospital").val();

            //     $.ajax({
            //         type: 'POST',
            //         url: '/Appointment/Update',
            //         data: { id: id, department: department, doctor: doctor, hospital: hospital },
            //         success: function () {
            //             $("#modalId").modal('hide');

            //         }

            //     })
            // });

            


            //2.DENEME
            // $("#txtAppointmentId").val(id);

            // $.ajax({
            //     type: 'GET',
            //     url: '/Appointment/Update',
            //     success: function (appointment) {
            //         // Modal alanlarını mevcut verilerle doldurun
            //         $("#ddlHospital").val(appointment.hospitalId);
            //         $("#ddlDepartment").val(appointment.departmentId);
            //         $("#ddlDoctor").val(appointment.doctorId);
            //         $("#txtAppointment").val(appointment.appointmentDate);
            //         $("#txtName").val(appointment.patient.patientName);
            //         $("#txtTCKN").val(appointment.patient.tckn);
            //         $("#txtAdres").val(appointment.patient.address);
            //         $("#txtPhone").val(appointment.patient.Phone);
            //         $("#txtYas").val(appointment.patient.age);

            //         // Modali göster
            //         $("#modalId").modal('show');
            //     }


            //         $("#btnAppointment").off().click(function () {
            //         // Gizli alandan randevu ID'sini alın
            //         var appointmentId = $("#btnAppointment").val();

            //         // Güncelleme AJAX isteğinde randevu ID'sini kullanın
            //         $.ajax({
            //             type: 'POST',
            //             url: '/Appointment/Update',
            //             data: {
            //                 id: appointmentId,
            //                 hospitalId: $("#ddlHospital").val(),
            //                 departmentId: $("#ddlDepartment").val(),
            //                 doctorId: $("#ddlDoctor").val(),
            //                 appointmentDate: $("#txtAppointment").val(),
            //                 patientName: $("#txtName").val(),
            //                 tckn: $("#txtTCKN").val(),
            //                 address: $("#txtAdres").val(),
            //                 Phone: $("#txtPhone").val(),
            //                 age: $("#txtYas").val(),
            //                 departmentId: $("#ddlDepartment").val()
            //                 // ... diğer veri alanları
            //             },
            //             success: function () {
            //                 $("#modalId").modal('hide');
            //                 Listele();
            //             }
            //         });
            //     });

            // });


            

            //1.DENEME
            // $("input").val('');
            // $("#modalId").modal('show'),

            //     fillListDepartment();
            //     fillListDoctor();
            //    fillListHospital();
            //    fillListPatient();

    </script>
}