<a class="btn btn-success" id="btnEkle">Randevu Ekle</a>
<div id="divList" class="row"></div>

<form>
    <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Yeni bir Randevu Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Hastane Adı</label>
                            <div class="col-8">
                                <select  class="form-select" id="txtHospital" placeholder="Hastane Adı  "></select>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Name Surname</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="txtName" placeholder="Name Surname ">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">TCKN</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="txtTCKN" placeholder="TC Number ">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Select Departman</label>
                            <div class="col-8">
                                <select class="form-select" name="script" id="ddlDepartment"> </select>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Select Patient</label>
                            <div class="col-8">
                                <select class="form-select" name="script" id="ddlPatient"> </select>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Select Doctor</label>
                            <div class="col-8">
                                <select class="form-select" name="script" id="ddlDoctor"> </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Appoimtment</label>
                            <div class="col-8">
                                <input type="datetime-local" class="form-control" id="txtAppointment" placeholder="Entry Days ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a  id="btnAppoimtent" class="btn btn-primary">Create Appoimtment</a>
                </div>
            </div>
        </div>
    </div>
</form>



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            Listele();
            fillListHospital();
            fillListDoctor();
            fillListDepartment();
            addPatient();

            $("#btnEkle").click(function () {
                $("#modalId").modal('show')
            });

            $("#btnAppoimtent").off().click(function () {
                let randevu = {
                        hospitalId: $("#txtHospital").val(),
                        departmentId: $("#ddlDepartment").val(),
                        doctorId: $("#ddlDoctor").val(),
                        patientId: $("#ddlPatient").val(),
                    appointmentDate: $("#txtAppointment").val()
                       
                }

                $.ajax({
                    type: 'POST',
                    url: '/Appointment/Add',
                    data: randevu,

                    success: function () {
                        $("#modalId").modal('hide');
                        Listele();
                    }
                })

                
            })
               
                
        })
            

            function Listele() {

                $.ajax({
                    type: 'GET',
                    url: '/Appointment/GetAll',
                    success: function (res) {
                        $("#divList").empty();
                        for (var item of res) {
                           
                                 

                                $("#divList").append(`<div class="col-4">
                                   <div class="card">
                                      <div class="card-body">
                                          <h3 class="card-title bg-danger text-white"></h3>

                                                         <p class="card-text">Hosptail isim ${item.hospital.hospitalName}</p>
                                                          <p class="card-text">Hasta ismi ${item.patient.patientName}</p>
                                                          <p class="card-text">Hasta TCKN ${item.patient.tckn}</p>
                                                         <p class="card-text"> Departman Adı :${item.department.departmantName}</p>
                                                          <p class="card-text"> Doktor Adı :${item.doctor.doctorName}</p>
                                                                 <p class="card-text"> Randevu Tarihi : ${item.appointmentDate}</p>
                                                
                                        </div>
                                               <div class="card-footer text-center"><a onclick="setYapildi(${item.id})" class="btn btn-success">Done</a>    <a onclick="Sil(${item.id})" class="btn btn-danger">Sil</a> </div>
                                 </div>
                            </div>`)
                                
                            
                        }
                    }
                });

            }
            function fillListDoctor(doctorName) {
                $.ajax({
                    type:"GET",
                    url:"/Doctor/GetAll",
                    success:function(res){
                        $("#txtDoctor").empty();
                        for (var item of res) {
                            $("#ddlDoctor").append(new Option(item.doctorName));
                        }
                    }
                })
            }
            function fillListDepartment(departmantName) {
                $.ajax({
                    type:"GET",
                    url:"/Department/GetAll",
                    success: function (res) {
                        $("#txtDepartment").empty();
                        for (var item of res) {
                            $("#ddlDepartment").append(new Option(item.departmantName))
                        }
                    }
                })
            }

            function fillListHospital(hospitalName){
                $.ajax({
                    type:'GET',
                    url:'/Hospital/GetAll',
                    success: function (res) {
                        $("#txtHospital").empty();
                        for (var item of res) {
                            $("#txtHospital").append(new Option(item.hospitalName))
                        }
                    }
                })
            }

        function addPatient(patientName) {
            $.ajax({
                type: 'POST',
                url: '/Patient/Add',
                success: function (res) {
                    $("#ddlPatient").empty();
                    for (var item of res) {
                        $("#ddlPatient").append(new Option(item.patientName))
                    }
                }
            })
        }
           
    
    </script>
}