<div class="row">
    <div class="col-lg-12 ">
        <div class="card border border-primary">
            <div class="card-header bg-primary border-primary">
                <h5 class="my-0 text-white"><i class="uil uil-message me-3"></i>Randevular</h5>
                
            </div><!-- end card-header -->
            <div class="card-body">
                <a class="btn btn-success" id="btnEkle">Yeni Randevu Ekle</a>
                <table id="tblListAppointment" class="table table-striped table-bordered">
                </table>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
</div>



<div id="divList" class="row"></div>
<div id="divListPatinet" class="row"> </div>
<form id="createRandevuForm">
    <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Yeni bir Randevu Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Hastane Adı</label>
                            <div class="col-8">
                                <select class="form-select" id="ddlHospital" placeholder="Hastane Adı  "></select>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Name Surname</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="txtName" placeholder="Kullanıcı Adınız ">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">TCKN</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="txtTCKN" placeholder="TC Number ">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Yas</label>
                            <div class="col-8">
                                <input type="number" class="form-control" id="txtYas" placeholder="Yas ">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Adres</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="txtAdres" placeholder="Adress">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Phone</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="txtPhone" placeholder="Telefon">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Select Departman</label>
                            <div class="col-8">
                                <select class="form-select" name="script" id="ddlDepartment"> </select>
                            </div>
                        </div>

                        @*  <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Select Kullanıcı </label>
                            <div class="col-8">
                                <select class="form-select" name="script" id="ddlUser"> </select>
                            </div>
                        </div> *@

                        @* <div class="mb-3 row">
                        <label for="inputName" class="col-4 col-form-label">Select Patient</label>
                        <div class="col-8">
                        <select class="form-select" name="script" id="ddlPatient"> </select>
                        </div>
                        </div> *@

                         <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Select Doctor</label>
                            <div class="col-8">
                                <select class="form-select" name="script" id="ddlDoctor"> </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Appointment</label>
                            <div class="col-8">
                                <input type="datetime-local" class="form-control" id="txtAppointment" placeholder="Entry Days" onchange="validateDateTime()">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a id="btnAppointment" class="btn btn-primary">Create Appointment</a>
                </div>
            </div>
        </div>
    </div>
</form>



@section Scripts{
    <script type="text/javascript">
        var dataTable;

        $(document).ready(function () { 
            Listele();
            fillListHospital();
            fillListDoctor();
            fillListDepartment();


            // Sayfa yüklendiğinde randevuları al ve tabloya ekle
            listRandevular();


             $("#btnEkle").click(function () {
                 $("input").val('');
                 // $("#modalId").modal('show')

                 $("#btnAppointment").off().click(function () {

                     $.ajax({
                         type: 'POST',
                         url: '/Agent/Appointment/Add',
                         data: randevu1 = {
                             hospitalId: $("#ddlHospital").val(),
                             departmentId: $("#ddlDepartment").val(),
                             doctorId: $("#ddlDoctor").val(),
                             appointmentDate: $("#txtAppointment").val(),

                             patient: {
                                 patientName: $("#txtName").val(),
                                 tckn: $("#txtTCKN").val(),
                                 address: $("#txtAdres").val(),
                                 Phone: $("#txtPhone").val(),
                                 age: $("#txtYas").val(),
                                 departmentId: $("#ddlDepartment").val(),
                                 userId: $("#ddlUser").val()

                             }
                         },
                         success: function () {
                             $("#modalId").modal('hide');
                             Listele();
                         }
                     });
                 });
                $("#btnAppointment").text("Kaydet");
                $("#modalTitleId").text("Hasta Ekle");
                $("#modalId").modal('show');
                fillListDepartment();
                fillListHospital();
                fillListUser();
                fillListDoctor();
             });




            // Yeni randevu oluşturma formunu submit ettiğimizde
            $("#createRandevuForm").submit(function (e) {
                e.preventDefault();

                // Randevu oluşturma AJAX çağrısı
                $.ajax({
                    type: "POST",
                    url: "/Agent/Appointment/CreateRandevu",
                    data: $(this).serialize(), // Form verilerini al
                    success: function (data) {
                        // Oluşturulan randevu eklendikten sonra tabloyu güncelle
                        $("#tblListAppointment ").DataTable().ajax.reload();
                        listRandevular();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });

        // Randevuları listeleyen fonksiyon
        function listRandevular() {
            $.ajax({
                type: "GET",
                url: "/Agent/Appointment/ListRandevular",
                dataType: "json",
                success: function (data) {
                    // Tabloyu temizle
                    $("#randevuTable tbody").empty();

                    // Her randevu için bir satır ekleyin
                    $.each(data, function (index, randevu) {
                        $("#randevuTable tbody").append(`
                                                    <tr>
                                                        <td>${randevu.id}</td>
                                                        <td>${randevu.appointmentDate}</td>
                                                        <!-- Diğer sütunlar -->
                                                    </tr>
                                                `);
                    });
                },
                error: function (error) {
                    console.log(error);
                }

            });
        }

            function Listele() {
                if ($.fn.DataTable.isDataTable('#tblListAppointment')) {
                    $('#tblListAppointment').DataTable().clear().destroy();
                }

                dataTable = $("#tblListAppointment").DataTable({
                    ajax: { url: '/Agent/Appointment/GetAll', dataSrc: '' },
                    columns: [
                        { data: 'id', title: 'ID' },
                        { data: 'hospital.hospitalName', title: 'Hastane Adı' }, // HospitalName için bu satırı ekleyin
                        { data: 'patient.patientName', title: 'Hasta Adı' },
                        { data: 'patient.tckn', title: 'TCKN' },
                        { data: 'patient.phone', title: 'Telefon' },
                        { data: 'patient.address', title: 'Adres' },
                        { data: 'patient.age', title: 'Yaş' },
                        { data: 'department.departmantName', title: 'Bölüm Adı' },
                        { data: 'doctor.doctorName', title: 'Doktor Adı' },

                        { data: 'appointmentDate', title: 'Randevu Tarihi' },
                        {
                            data: "id",
                            render: function (data, type, row) {
                                return `<a href="#" onclick="deleteAppointment(${data})" class="btn btn-sm btn-danger">sil</a> <a onclick="Update('${data}','${row.department.departmantName}','${row.hospital.hospitalName}','${row.doctor.doctorName}','${row.patient.patientName}','${row.patient.tckn}','${row.patient.phone}','${row.patient.address}','${row.patient.age}')" class="btn btn-sm btn-primary">Güncelle</a>`;
                            }

                        },


                    ]
                });
            }
            function Onayla(id) {

                let onayla = { id: id }
                $.ajax({
                    type: "POST",
                    url: "/Agent/Appointment/AcceptById",
                    data: onayla,
                    success: function () {
                        Listele()
                    }
                })
            }
            function deleteAppointment(id) {

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DeleteById","Appointment")',
                    data: { id: id },
                    success: function (data) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Başarılı',
                            message: 'Hasta Silindi',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        $("#tblListAppointment ").DataTable().ajax.reload();
                    }
                });

            }

            function Decline(id) {
                let deleteee = { id: id }
                $.ajax({
                    type: "POST",
                    url: "/Agent/Appointment/DeleteById",
                    data: deleteee,
                    success: function () {
                        Listele()
                    }
                })
            }


            function Update(id, departmantId, hospitalId, doctorId, patientName, tckn, phone, address, age, appointmentDate) {
                $("input").val("");

                fillListHospital(hospitalId);
                $("#ddlHospital").val(hospitalId);
                fillListPatient(patientName);
                $("#txtName").val(patientName);
                $("#txtTCKN").val(tckn);
                $("#txtPhone").val(phone);
                $("#txtYas").val(age);
                $("#txtAdres").val(address);
                fillListDepartment(departmantId);
                $("#ddlDepartment").val(departmantId);
                fillListDoctor(doctorId);
                $("#ddlDoctor").val(doctorId);
                $("#txtAppointment").val(appointmentDate);





                $("#modalId").modal("show");
                $("#modalTitleId").text("Randevu Güncelle ");
                $("#btnAppointment").text("Guncelle");

                $("#btnAppointment").off();


                $("#btnAppointment").click(function () {

                    $.ajax({
                        type: "POST",
                        url: "/Agent/Appointment/Update",
                        data: {
                            id: id,
                            hospitalId: $("#ddlHospital").val(),
                            departmentId: $("#ddlDepartment").val(),
                            doctorId: $("#ddlDoctor").val(),
                            appointmentDate: $("#txtAppointment").val(),

                            patient: {
                                patientName: $("#txtName").val(),
                                tckn: $("#txtTCKN").val(),
                                address: $("#txtAdres").val(),
                                Phone: $("#txtPhone").val(),
                                age: $("#txtYas").val(),
                                departmentId: $("#ddlDepartment").val(),
                            }
                        },
                        success: function () {
                            alert("Güncelleme Yapıldı");
                            $("#modalId").modal("hide");
                            Listele();
                        }
                    })
                })
            }


            function fillListDoctor(doctorName) {
                $.ajax({
                    type: 'GET',
                    url: '/Agent/Doctor/GetAll',
                    success: function (res) {
                        $("#ddlDoctor").empty();
                        for (var item of res) {
                            $("#ddlDoctor").append(new Option(item.doctorName, item.id, false));
                        }
                    }
                })
            }

            function fillListDepartment(departmantId) {
                $.ajax({
                    type: 'GET',
                    url: '/Agent/Department/GetAll',
                    success: function (res) {
                        $("#ddlDepartment").empty();
                        for (var item of res) {
                            $("#ddlDepartment").append(new Option(item.departmantName, item.id, false, item.id == departmantId));
                        }
                    }
                })
            }



            function fillListHospital(hospitalId) {
                $.ajax({
                    type: 'GET',
                    url: '/Agent/Hospital/GetAll',
                    success: function (res) {
                        $("#ddlHospital").empty();
                        for (var item of res) {
                            $("#ddlHospital").append(new Option(item.hospitalName, item.id, false, item.id == hospitalId));
                        }
                    }
                })
            }


            function fillListPatient(patientName) {
                $.ajax({
                    type: 'GET',
                    url: 'Appointment/GetAll',
                    success: function (res) {
                        $("#txtName").empty();
                        for (var item of res) {
                            $("#txtName").append(`<option value="<${item.tckn}">${item.patientName}</option>`);


                        }
                    }
                });
            }

        function validateDateTime() {
            var inputDate = new Date(document.getElementById("txtAppointment").value);
            var dayOfWeek = inputDate.getDay(); // 0: Pazar, 1: Pazartesi, ..., 6: Cumartesi
            var hour = inputDate.getHours();

            // Kontrolü burada yapabilir ve istenmeyen gün ve saatleri engelleyebilirsiniz
            if ((dayOfWeek == 0 || dayOfWeek == 6) || (hour < 9 || hour >= 17)) {
                alert("Lütfen geçerli bir gün ve saat seçin. Pazartesi-Cuma günleri arasında, 09:00-17:00 saatleri arasında randevu alabilirsiniz.");
                document.getElementById("txtAppointment").value = ""; // Geçersiz seçimi temizle
            }
        }

    </script>
} 