<body>
    <!-- Banner Area Starts -->
    <section class="banner-area other-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Hakkımızda</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Welcome Area Starts -->
    <section class="welcome-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 align-self-center">
                    <div class="welcome-img">
                        <img src="~/_layout/images/welcome.png" alt="">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="welcome-text mt-5 mt-lg-0">
                        <h2>Neden biz?</h2>
                        <p class="pt-3">Biz, sağlığınızı en ön planda tutan, hasta odaklı hizmet anlayışıyla çalışan bir sağlık kuruluşuyuz. Misyonumuz, toplumumuzun sağlığını iyileştirmek ve her bireyin yaşam kalitesini artırmak üzerine odaklıdır. Modern tıbbın getirdiği yenilikleri ve son teknolojiyi kullanarak, hastalarımıza en üst düzeyde kaliteli sağlık hizmeti sunma amacındayız.</p>

                        <h3>Hasta Odaklı Hizmet</h3>
                        <p>Hasta odaklı bir anlayışla, her hasta bizim için özeldir. Hastalarımıza bireysel ihtiyaçlarına uygun, güvenilir ve etkili tedavi seçenekleri sunarak, onların sağlıklı bir yaşam sürmelerine katkıda bulunuyoruz. Hastalarımızın rahatlığı, memnuniyeti ve güvenliği her zaman önceliğimizdir.</p>

                        <h3>Uzman Kadro ve Son Teknoloji</h3>
                        <p>Sunduğumuz hizmetin kalitesi, deneyimli ve uzman kadromuz ile başlamaktadır. Alanlarında uzman doktorlarımız, hemşirelerimiz ve sağlık personelimiz, en son tıbbi gelişmeleri takip ederek, hastalarımıza en iyi tedaviyi sağlamak için sürekli olarak eğitilmektedirler. Ayrıca, son teknoloji ekipmanlarımız ve modern tıbbın en güncel araçları ile hastalara kesintisiz ve etkili bir hizmet sunmaktayız.</p>

                        <h3>Sağlığınız İçin Varız</h3>
                        <p>Sağlığınız bizim için değerlidir. Sizlere daha iyi hizmet verebilmek için sürekli olarak kendimizi geliştiriyor ve yeniliklere açık bir anlayışla hareket ediyoruz. Sağlıklı bir geleceğe adım atmanız için, profesyonel ve samimi ekibimizle birlikte buradayız.</p>

                        <p>Bizi tercih ettiğiniz için teşekkür ederiz. Sağlıklı günler dileriz.</p>

                        <p>Sağlıkla kalın, sizin için buradayız.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Welcome Area End -->

    <!-- Patient Area Starts -->
    <section class="patient-area section-padding3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-top text-center">
                      

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="single-patient mb-4">
                       
                    </div>
                    <div class="single-patient">
                      
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 align-self-center">
                    <div class="appointment-form text-center mt-5 mt-lg-0">
                        <h3 class="mb-5">Hemen Randevu Alın</h3>
                        <form action="#">
                            <div class="form-group">
                                <input type="text" placeholder="İsminiz" onfocus="this.placeholder = ''" onblur="this.placeholder = 'İsminiz'" required>
                            </div>
                            <div class="form-group">
                                <input type="tel" placeholder="Telefonunuz" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Telefonunuz'" required>
                            </div>
                            <div class="form-group">
                                <input type="text" id="datepicker" placeholder="Hastane Seçiniz" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Hastane Seçiniz'" required>
                            </div>
                            <div class="form-group">
                                <input type="text" id="datepicker" placeholder="Şube Seçiniz" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Şube Seçiniz'" required>
                            </div>
                            <div class="form-group">
                                <input type="text" id="datepicker" placeholder="Departman Seçiniz" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Departman Seçiniz'" required>
                            </div>
                            <div class="form-group">
                                <textarea name="message" cols="20" rows="7" placeholder="Mesajınız" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mesajınız'" required></textarea>
                            </div>
                            <a href="#" class="template-btn">Randevu Al</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Patient Area Starts -->
</body>


