<body>
    <!-- Banner Area Starts -->
    <section class="banner-area other-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Departmanlar</h1>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->
    <!-- Feature Area Starts -->
    <section class="feature-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding">
                        <img src="~/_layout/assets/images/feature1.png" alt="">
                        <h3>Gelişmiş Teknoloji</h3>
                        <p class="pt-3">"Modern tıbbi teknolojilerle donatılmış hastanemiz, hastalarımıza en güncel ve etkili sağlık hizmetlerini sunmaktadır."</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding mt-4 mt-md-0">
                        <img src="~/_layout/assets/images/feature2.png" alt="">
                        <h3>Hasta Memnuniyeti</h3>
                        <p class="pt-3">"Hasta odaklı yaklaşımımız ve kaliteli hizmet anlayışımızla, hastalarımızın memnuniyetini en üst düzeye çıkarmayı hedefliyoruz."</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                        <img src="~/_layout/assets/images/feature3.png" alt="">
                        <h3>Kaliteli Ekipman</h3>
                        <p class="pt-3">"Hastanemiz, son teknolojiye sahip kaliteli ekipmanlarla donatılmış, hasta bakımında üst düzey güvenlik ve etkinliği sağlamaktadır."</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                        <img src="~/_layout/assets/images/feature4.png" alt="">
                        <h3>Uzman Kadro</h3>
                        <p class="pt-3">"Deneyimli ve uzman kadromuz, hastalarımıza en iyi sağlık hizmetini sunmak için bilgi ve tecrübelerini birleştirerek çalışmaktadır."</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Area End -->
    <!-- Department Area Starts -->
    <section class="department-area section-padding4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-top text-center">
                        <h2>Departmanlarımız</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="department-slider owl-carousel">

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/emergencynew.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Acil</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/mouth,chin,dentalcarenew.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Ağız, Diş ve Çene Cerrahisi</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/allergynew.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Alerji</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/anesthesiologynew.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Anestezi</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/nutritionanddietetics.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Beslenme ve Diyet</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/brainandneurosurgery.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Beyin ve Sinir Cerrahisi</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/checkup.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Check-Up</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/childrendoctor.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Çocuk Sağlığı ve Hastalıkları</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/dermatology.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Dermatoloji</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/implant.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Diş Kliniği</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/endoscope.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Endoskopi</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/rehabilitationphysicaltherapy.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Fizik Tedavi ve Rehabilitasyon</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/generalsurgery.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Genel Cerrahi</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/chestdiseases.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Göğüs Hastalıkları</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/eyedoctornew.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Göz Hastalıkları</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/gynecology.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Jinekoloji</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/cardiologynew.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Kardiyoloji</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/obstetrics.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Kadın Doğum</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/kbb.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Kulak, Burun, Boğaz</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/labratory.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Laboratuvar Hizmetleri</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/kidney.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Nefroloji</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/neurology.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Nöroloji</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/ortopediandtrauma.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Ortopedi ve Travmatoloji</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/plasticsurgerynew.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Plastik Cerrahi</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/psychology.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Psikoloji ve Psikiyatri</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/radiology1.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Radyoloji</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/newborn.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Yeni Doğan</h3>
                            </div>
                        </div>

                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="~/_layout/assets/images/intensivecare.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Yoğun Bakım</h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Department Area Starts -->
    <!-- Hotline Area Starts -->
    <section class="hotline-area text-center section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Emergency hotline</h2>
                    <span>(+01) – 256 567 550</span>
                    <p class="pt-3">We provide 24/7 customer support. Please feel free to contact us <br>for emergency case.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Hotline Area End -->
</body>