<body>
    <!-- Banner Area Starts -->
    <section class="banner-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h4>Daha iyi bir yaşam için her zaman yanınızdayız...</h4>
                    <h1>Sağlığınız bizim önceliğimiz</h1>
                    <p>HEMEN RANDEVU ALIN!</p>
                    <a href="" class="template-btn mt-3">Randevu Al</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->
    <!-- Feature Area Starts -->
    <section class="feature-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding">
                        <img src="~/_layout/assets/images/feature1.png" alt="">
                        <h3>Gelişmiş Teknoloji</h3>
                        <p class="pt-3">"Modern tıbbi teknolojilerle donatılmış hastanemiz, hastalarımıza en güncel ve etkili sağlık hizmetlerini sunmaktadır."</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding mt-4 mt-md-0">
                        <img src="~/_layout/assets/images/feature2.png" alt="">
                        <h3>Hasta Memnuniyeti</h3>
                        <p class="pt-3">"Hasta odaklı yaklaşımımız ve kaliteli hizmet anlayışımızla, hastalarımızın memnuniyetini en üst düzeye çıkarmayı hedefliyoruz."</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                        <img src="~/_layout/assets/images/feature3.png" alt="">
                        <h3>Kaliteli Ekipman</h3>
                        <p class="pt-3">"Hastanemiz, son teknolojiye sahip kaliteli ekipmanlarla donatılmış, hasta bakımında üst düzey güvenlik ve etkinliği sağlamaktadır."</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                        <img src="~/_layout/assets/images/feature4.png" alt="">
                        <h3>Uzman Kadro</h3>
                        <p class="pt-3">"Deneyimli ve uzman kadromuz, hastalarımıza en iyi sağlık hizmetini sunmak için bilgi ve tecrübelerini birleştirerek çalışmaktadır."</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Area End -->
    <!-- Welcome Area Starts -->
    <section class="welcome-area section-padding3">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 align-self-center">
                    <div class="welcome-img">
                        <img src="~/_layout/assets/images/welcomedoctor.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="welcome-text mt-5 mt-lg-0">
                        <h2>BS Hospital Sağlık Grubu'na Hoşgeldiniz</h2>
                        <p class="pt-3">Son teknoloji cihazlar ve uzman kadromuzla, size en iyi sağlık hizmetini sunmak için buradayız. Her gün daha iyi bir yaşamı hedefliyoruz ve moden tıbbın imkanlarını sizin için bir araya getiriyoruz. Sağlığınıza dair ihtiyaçlarınızı karşılamak için buradayız. Sizleri sağlıklı bir geleceğe taşımak için her zaman yanınızdayız. Sağlığınız bizim önceliğimiz...
                        <a href="#" class="template-btn mt-3">Daha Fazla</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Welcome Area End -->
 
    <!-- Patient Area Starts -->
    <section class="patient-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">

                </div>
                <div class="col-lg-5 offset-lg-1 align-self-center">
                    <div class="appointment-form text-center mt-5 mt-lg-0">
                        <h3 class="mb-5">Hemen Randevu Alın</h3>
                        <form action="#">
                            <div class="form-group">
                                <input type="text" placeholder="İsminiz" onfocus="this.placeholder = ''" onblur="this.placeholder = 'İsminiz'" required>
                            </div>
                            <div class="form-group">
                                <input type="email" placeholder="Telefonunuz" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Telefonunuz'" required>
                            </div>
                            <div class="form-group">
                                <input type="text" id="datepicker" placeholder="Hastane Seçiniz" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Hastane Seçiniz'" required>
                            </div>
                            <div class="form-group">
                                <input type="text" id="datepicker" placeholder="Şube Seçiniz" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Şube Seçiniz'" required>
                            </div>
                            <div class="form-group">
                                <input type="text" id="datepicker" placeholder="Departman Seçiniz" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Departman Seçiniz'" required>
                            </div>
                            <div class="form-group">
                                <textarea name="message" cols="20" rows="7" placeholder="Mesajınız" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mesajınız'" required></textarea>
                            </div>
                            <a href="#" class="template-btn">Randevu Al</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Patient Area Starts -->
   
    <!-- Hotline Area Starts -->
    <section class="hotline-area text-center section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Acil Durum Çağrı Merkezi</h2>
                    <span>(+01) – 234 567 890</span>
                    <p class="pt-3">
                        7/24 hasta destek hizmeti sunmaktayız. Acil durumlarda lütfen bizimle <br>iletişime geçin.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Hotline Area End -->  
</body>
