@using BSHospital.Models;
@model Appointment;

<div id="divList" class="row"></div>
<div id="divListPatinet" class="row"> </div>
<form id="createRandevuForm">
    <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Yeni bir Randevu Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Hastane Adı</label>
                            <div class="col-8">
                                
                               @*  <select class="form-select" id="ddlHospital">
                                    <option value="">Hastane Adı Seçin</option>

                                    @foreach (var hospital in Model.Hospital.HospitalName)
                                    {
                                        <option value="@hospital.">@hospital</option>
                                    }
                                </select> *@
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Name Surname</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="txtName" placeholder="Kullanıcı Adınız" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label" required>TCKN</label>
                            <div class="col-8">
                                <input type="tel" class="form-control input-mask" id="txtTCKN" data-inputmask="'mask': '(99)9999999999'" placeholder="TCKN giriniz" maxlength="14" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Yas</label>
                            <div class="col-8">
                                <input type="number" class="form-control" id="txtYas" placeholder="Yas" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Adres</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="txtAdres" placeholder="Adress" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Phone</label>
                            <div class="col-8">
                                <input type="tel" class="form-control input-mask" id="txtPhone" data-inputmask="'mask': '(99)9999999999'" placeholder="Gsm Numarası giriniz" maxlength="14" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Select Departman</label>
                            <div class="col-8">
                                <select class="form-select" name="script" id="ddlDepartment"> </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Select Doctor</label>
                            <div class="col-8">
                                <select class="form-select" name="script" id="ddlDoctor"> </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Appointment</label>
                            <div class="col-8">
                                <input type="datetime-local" class="form-control" id="txtAppointment" placeholder="Entry Days" onchange="validateDateTime()">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a id="btnAppointment" class="btn btn-primary">Create Appointment</a>
                </div>
            </div>
        </div>
    </div>
</form>
<body>
    <!-- Banner Area Starts -->
    <section class="banner-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h4>Daha iyi bir yaşam için her zaman yanınızdayız...</h4>
                    <h1>Sağlığınız bizim önceliğimiz</h1>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->
    <!-- Feature Area Starts -->
    <section class="feature-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding">
                        <img src="~/_layout/assets/images/feature1.png" alt="">
                        <h3>Gelişmiş Teknoloji</h3>
                        <p class="pt-3">"Modern tıbbi teknolojilerle donatılmış hastanemiz, hastalarımıza en güncel ve etkili sağlık hizmetlerini sunmaktadır."</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding mt-4 mt-md-0">
                        <img src="~/_layout/assets/images/feature2.png" alt="">
                        <h3>Hasta Memnuniyeti</h3>
                        <p class="pt-3">"Hasta odaklı yaklaşımımız ve kaliteli hizmet anlayışımızla, hastalarımızın memnuniyetini en üst düzeye çıkarmayı hedefliyoruz."</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                        <img src="~/_layout/assets/images/feature3.png" alt="">
                        <h3>Kaliteli Ekipman</h3>
                        <p class="pt-3">"Hastanemiz, son teknolojiye sahip kaliteli ekipmanlarla donatılmış, hasta bakımında üst düzey güvenlik ve etkinliği sağlamaktadır."</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                        <img src="~/_layout/assets/images/feature4.png" alt="">
                        <h3>Uzman Kadro</h3>
                        <p class="pt-3">"Deneyimli ve uzman kadromuz, hastalarımıza en iyi sağlık hizmetini sunmak için bilgi ve tecrübelerini birleştirerek çalışmaktadır."</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Area End -->
    <!-- Welcome Area Starts -->
    <section class="welcome-area section-padding3">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 align-self-center">
                    <div class="welcome-img">
                        <img src="~/_layout/assets/images/welcomedoctor.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="welcome-text mt-5 mt-lg-0">
                        <h2>BS Hospital Sağlık Grubu'na Hoşgeldiniz</h2>
                        <p class="pt-3">Son teknoloji cihazlar ve uzman kadromuzla, size en iyi sağlık hizmetini sunmak için buradayız. Her gün daha iyi bir yaşamı hedefliyoruz ve moden tıbbın imkanlarını sizin için bir araya getiriyoruz. Sağlığınıza dair ihtiyaçlarınızı karşılamak için buradayız. Sizleri sağlıklı bir geleceğe taşımak için her zaman yanınızdayız. Sağlığınız bizim önceliğimiz...
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Welcome Area End -->
 
 
   
    <!-- Hotline Area Starts -->
    <section class="hotline-area text-center section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Acil Durum Çağrı Merkezi</h2>
                    <span>(+01) – 234 567 890</span>
                    <p class="pt-3">
                        7/24 hasta destek hizmeti sunmaktayız. Acil durumlarda lütfen bizimle <br>iletişime geçin.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Hotline Area End -->  
</body>
@section Scripts{
    <script type="text/javascript">
        var dataTable;

        $(document).ready(function () {
            //Listele();
            fillListHospital();
            fillListDoctor();
            fillListDepartment();
            $("#btnEkle").click(function () {
                $("input").val('');
                // $("#modalId").modal('show')

                $("#btnAppointment").off().click(function () {

                    $.ajax({
                        type: 'POST',
                        url: '/Appointment/Add',
                        data: randevu1 = {
                            hospitalId: $("#ddlHospital").val(),
                            departmentId: $("#ddlDepartment").val(),
                            doctorId: $("#ddlDoctor").val(),
                            appointmentDate: $("#txtAppointment").val(),

                            patient: {
                                patientName: $("#txtName").val(),
                                tckn: $("#txtTCKN").val(),
                                address: $("#txtAdres").val(),
                                Phone: $("#txtPhone").val(),
                                age: $("#txtYas").val(),
                                departmentId: $("#ddlDepartment").val(),
                                userId: $("#ddlUser").val()

                            }
                        },
                        success: function () {
                            $("#modalId").modal('hide');
                            alert("Kaydınız Başarılı Bir Şekilde Oluşmuştur Sağlık Danışmanlarımız Sizlere En Kısa Süre İçerisinde Geri Dönüş Sağlayacaklardır  ")
                            // Listele();
                        }
                    });
                });
                $("#btnAppointment").text("Kaydet");
                $("#modalTitleId").text("Hasta Ekle");
                $("#modalId").modal('show');

                fillListDepartment();
                fillListHospital();

                fillListDoctor();
            });

        });



       

        function deleteAppointment(id) {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteById","Appointment")',
                data: { id: id },
                success: function (data) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Başarılı',
                        message: 'Hasta Silindi',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    $("#tblListAppointment ").DataTable().ajax.reload();
                }
            });

        }

       


        function Update(id, departmantId, hospitalId, doctorId, patientName, tckn, phone, address, age, appointmentDate) {
            $("input").val("");

            fillListHospital(hospitalId);
            $("#ddlHospital").val(hospitalId);
            fillListPatient(patientName);
            $("#txtName").val(patientName);
            $("#txtTCKN").val(tckn);
            $("#txtPhone").val(phone);
            $("#txtYas").val(age);
            $("#txtAdres").val(address);
            fillListDepartment(departmantId);
            $("#ddlDepartment").val(departmantId);
            fillListDoctor(doctorId);
            $("#ddlDoctor").val(doctorId);
            $("#txtAppointment").val(appointmentDate);

            $("#modalId").modal("show");
            $("#modalTitleId").text("Randevu Güncelle ");
            $("#btnAppointment").text("Guncelle");

            $("#btnAppointment").off();


            $("#btnAppointment").click(function () {

                $.ajax({
                    type: "POST",
                    url: "/Appointment/Update",
                    data: {
                        id: id,
                        hospitalId: $("#ddlHospital").val(),
                        departmentId: $("#ddlDepartment").val(),
                        doctorId: $("#ddlDoctor").val(),
                        appointmentDate: $("#txtAppointment").val(),

                        patient: {
                            patientName: $("#txtName").val(),
                            tckn: $("#txtTCKN").val(),
                            address: $("#txtAdres").val(),
                            Phone: $("#txtPhone").val(),
                            age: $("#txtYas").val(),
                            departmentId: $("#ddlDepartment").val(),
                        }
                    },
                    success: function () {
                        alert("Güncelleme Yapıldı");
                        $("#modalId").modal("hide");
                        Listele();
                    }
                })
            })
        }


        function fillListDoctor(doctorName) {
            $.ajax({
                type: 'GET',
                url: '/Doctor/GetAll',
                success: function (res) {
                    $("#ddlDoctor").empty();
                    for (var item of res) {
                        $("#ddlDoctor").append(new Option(item.doctorName, item.id, false));
                    }
                }
            })
        }

        function fillListDepartment(departmantId) {
            $.ajax({
                type: 'GET',
                url: '/Department/GetAll',
                success: function (res) {
                    $("#ddlDepartment").empty();
                    for (var item of res) {
                        $("#ddlDepartment").append(new Option(item.departmantName, item.id, false, item.id == departmantId));
                    }
                }
            })
        }



        function fillListHospital(hospitalId) {
            $.ajax({
                type: 'GET',
                url: '/Hospital/GetAll',
                success: function (res) {
                    $("#ddlHospital").empty();
                    for (var item of res) {
                        $("#ddlHospital").append(new Option(item.hospitalName, item.id, false, item.id == hospitalId));
                    }
                }
            })
        }


        function fillListPatient(patientName) {
            $.ajax({
                type: 'GET',
                url: 'Appointment/GetAll',
                success: function (res) {
                    $("#txtName").empty();
                    for (var item of res) {
                        $("#txtName").append(`<option value="<${item.tckn}">${item.patientName}</option>`);


                    }
                }
            });
        }

        function validateDateTime() {
            var inputDate = new Date(document.getElementById("txtAppointment").value);
            var dayOfWeek = inputDate.getDay(); // 0: Pazar, 1: Pazartesi, ..., 6: Cumartesi
            var hour = inputDate.getHours();

            // Kontrolü burada yapabilir ve istenmeyen gün ve saatleri engelleyebilirsiniz
            if ((dayOfWeek == 0 || dayOfWeek == 6) || (hour < 9 || hour >= 17)) {
                alert("Lütfen geçerli bir gün ve saat seçin. Pazartesi-Cuma günleri arasında, 09:00-17:00 saatleri arasında randevu alabilirsiniz.");
                document.getElementById("txtAppointment").value = ""; // Geçersiz seçimi temizle
            }
        }

    </script>
}
