<div class="row">
    <div class="col-lg-12 ">
        <div class="card border border-primary">
            <div class="card-header bg-primary border-primary">
                <h5 class="my-0 text-white"><i class="uil uil-message me-3"></i>Agent</h5>
            </div><!-- end card-header -->
            <div class="card-body">
                <a href="#" id="btnAdd" class="btn btn-primary">Yeni Agent Ekle</a>
                <table id="tblListAgent" class="table table-striped table-bordered">
                </table>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
</div>

<div class="modal fade" id="modalList" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Yeni Agent Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#modalList" aria-label="Close"></button>
            </div>
            <form id="frmAddDestination" class="needs-validation">
                <div class="modal-body" style="max-height: 80vh; overflow-y: auto;">
                    <div class="container">

                        @* <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Agent Adı </label>
                            <div class="col-8">
                                <input type="text" class="form-control needs-validation" required id="txtAgent" placeholder="Lütfen Agent Adı Giriniz" />
                            </div>
                        </div> *@

                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Mail Adresi</label>
                            <div class="col-8">
                                <input type="email" class="form-control needs-validation" id="txtMail" placeholder="Lütfen E-Mail Giriniz" required />
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Password</label>
                            <div class="col-8">
                                <input type="text" class="form-control needs-validation" id="txtPassword" placeholder="Lütfen Şifre Belirleyiniz" required />
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Telefon numarası</label>
                            <div class="col-8">
                                <input type="tel" class="form-control input-mask" id="txtGsm" data-inputmask="'mask': '(99)9999999999'" placeholder="Gsm Numarası giriniz" maxlength="14" required>
                            </div>
                        </div

                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Rol Seçiniz</label>
                            <div class="col-8">
                                <select class="form-select" name="script" id="ddlRol" required> </select>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="#modalList">Kapat</button>
                    <a id="btnSave" class="btn btn-primary">Kaydet</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            agentListele();
            fillRol();
            $("#btnAdd").click(function () {
                $("input").val('');
                $("#btnSave").off().click(function () {
                    $.ajax({
                        type: 'POST',
                        url: '/Admin/Agent/Add',
                        data: randevu1 = {
                            email: $("#txtMail").val(),
                            password : $("#txtPassword").val(),
                            gsm: $("#txtGsm").val(),
                            userType: {
                                typeName: $("#ddlRol").val()
                            }
                        },

                        success: function () {
                            $("#modalList").modal('hide');
                            $("#tblListAgent").DataTable().ajax.reload();
                        }
                    });
                });
                $("#btnSave").text("Kaydet");
                $("#modalTitleId").text("Agent Ekle");
                $("#modalList").modal('show')
                fillRol();
            });

            function agentListele() {
                $("#tblListAgent").DataTable({
                    ajax: { url: '/Admin/Agent/GetAll', dataSrc: '' },
                    columns: [
                        { data: 'id', title: 'ID', },

                        { data: "email", title: 'E-mail ' },
                        { data: "password", title: 'Şifre ' },
                        { data: "gsm", title: 'Telefon Number ' },
                        { data: "userType.typeName", title: 'Kullanıcı Tipi ' },
                        {
                            data: "id",
                            type: "agentName",
                            render: function (data, type, row) {
                                return `<a href="#" onclick="deleteAgentl(${data})" class="btn btn-sm btn-danger">Sil</a> <a onclick="updateAgent('${data}','${row.email}','${row.password}','${row.gsm}','${row.userType.typeName}')" class="btn btn-sm btn-primary">Güncelle</a>`;
                            }
                        }],
                    language: {
                        "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Turkish.json"
                    }
                });
            }

        });


        function deleteAgentl(id) {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteById","Agent")',
                data: { id: id },
                success: function (data) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Başarılı',
                        message: 'Agent Silindi',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    $("#tblListAgent").DataTable().ajax.reload();
                }
            });

        }


        function updateAgent(id, email,password,gsm,userType) {
           // $("#txtAgent").val(agent);
            $("#txtMail").val(email);
            $("#txtPassword").val(password);
            $("#txtGsm").val(gsm);
            $("#ddlRol").val(userType);

            $("#modalList").modal("show");

            $("#modalTitleId").text("Agent  Güncelle");

            $("#btnSave").text("Güncelle");
            $("#btnSave").off();
            $("#btnSave").click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/Admin/Agent/Update',
                    data: randevu = {
                        id:id,
                        email: $("#txtMail").val(),
                        password: $("#txtPassword").val(),
                        gsm: $("#txtGsm").val(),
                        userType: {
                            typeName: $("#ddlRol").val()
                        }
                    },
                    success: function () {
                        $("#modalList").modal("hide");
                        $("#tblListAgent").DataTable().ajax.reload();
                    }
                })
            });
        }

        // function fillRol(userTypeId) {
        //     $.ajax({
        //         type: 'GET',
        //         url: '/Admin/Dashboard/GetAll',
        //         success: function (res) {
        //             $("#ddlRol").empty();
        //             for (var item of res) {
        //                 $("#ddlRol").append(new Option(item.typeName, item.id, false, item.id == userTypeId));
        //             }
        //         }
        //     })
        // }

        // function fillRol() {
            
            

        //     $.ajax({
        //         type: 'GET',
        //         url: '/Admin/Agent/GetAllRoles',
        //         success: function (res) {
        //             // Dropdown listesini temizleme
        //             var ddlRol = $("#ddlRol");
        //             ddlRol.empty();

        //             // Yeni seçenekleri ekleme
        //             for (var item of res) {
        //                 ddlRol.append(new Option(item.typeName, item.typeName));
        //             }
        //         }
        //     });
        // }
        function fillRol() {
            var roles = [
                { typeName: "Admin" },
                { typeName: "Agent" },
                // Add more roles as needed
            ];

            var ddlRol = $("#ddlRol");
            ddlRol.empty();

            for (var item of roles) {
                ddlRol.append(new Option(item.typeName, item.typeName));
            }
        }


    </script>
}

