<div class="row">
    <div class="col-lg-12 ">
        <div class="card border border-primary">
            <div class="card-header bg-primary border-primary">
                <h5 class="my-0 text-white"><i class="uil uil-message me-3"></i>Departmanlar</h5>
            </div><!-- end card-header -->
            <div class="card-body">
                <a class="btn btn-primary" id="btnAdd">Yeni Departman Ekle</a>
                <table id="tblListDepartment" class="table table-striped table-bordered">
                </table>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
</div>

<div class="modal fade" id="modalList" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Yeni Departman Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#modalList" aria-label="Close"></button>
            </div>
            <form id="frmAddDestination" class="needs-validation">
                <div class="modal-body" style="max-height: 80vh; overflow-y: auto;">
                    <div class="container">
                        
                         <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Departman Adı </label>
                            <div class="col-8">
                                <input type="text" class="form-control needs-validation" id="txtDepartment"  placeholder="Lütfen Departman Giriniz" required />
                            </div>
                         </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="#modalList">Kapat</button>
                        <a id="btnSave" class="btn btn-primary">Kaydet</a>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">
       
        // $(document).ready(function () {
        //     list();
        //     $("#btnAdd").click(function () {
        //         $("input").val('');
        //         $("#modalList").modal('show')
        //         fillListDepartment();
        //     });
        
            
            
        //     function list() {
        //         $("#tblListDepartment").DataTable({
        //             ajax: { url: '/Admin/Department/GetAll', dataSrc: '' },
        //             columns: [
        //                 { data: 'id', title: 'ID', },
        //                 { data: "departmantName", title: 'Departman AD ' },
        //                 {
        //                     data: "id",
        //                     type: "departmantName",
        //                     render: function (data,type,row) {
        //                         return `<a href="#" onclick="deleteDepartment(${data})" class="btn btn-sm btn-danger">Sil</a> <a onclick="updateDepartment('${data}','${row.departmantName}')" class="btn btn-sm btn-primary">Güncelle</a>`;
        //                     }
        //                 }],
        //             language: {
        //                 "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Turkish.json"
        //             }
        //         });
        //     }

           

           

        //     // function updateDepartment(id) {
        //     //     window.location.href = `@Url.Action("Update", "Department")?id=${id}`;
        //     // }


        // });

        // $("#btnSave").off().click(function () {
        //     var department = $("#txtDepartment").val();
        //     $.ajax({
        //         type: 'POST',
        //         url: '/Admin/Department/Add',
        //         data: { departmantName: department },
        //         success: function () {
        //             $("#modalList").modal('hide');
        //             list();
        //         }
        //     });
        // });

        // function deleteDepartment(id) {

        //     $.ajax({
        //         type: 'POST',
        //         url: '@Url.Action("DeleteById","Department")',
        //         data: { departmentId: id },
        //         success: function (data) {
        //             Swal.fire({
        //                 icon: 'success',
        //                 title: 'Başarılı',
        //                 message: 'Departman Silindi',
        //                 showConfirmButton: false,
        //                 timer: 1500
        //             });
        //             $("#tblListDepartment").DataTable().ajax.reload();
        //         }
        //     });

        // }

        // function updateDepartment(id, departmantName) {
        //     $("#txtDepartment").val(departmantName);
        //     fillListDepartment(departmantName);
        //     $("#modalList").modal("show");
        //     $("#modalTitleId").text("Departman  Güncelle");
        //     $("#btnSave").text("Güncelle");
        //     $("#btnSave").off();
        //     $("#btnSave").click(function () {
        //         $.ajax({
        //             type: 'POST',
        //             url: '/Admin/Department/Update',
        //             data: { id: id, departmantname: $("#txtDepartment").val() },
        //             success: function () {
        //                 $("#modalList").modal("hide");
        //                 $("#tblListDepartment").DataTable().ajax.reload();
        //             }
        //         })
        //     });
        // }


        //             function fillListDepartment(departmantName) {
        //                 $.ajax({
        //                     type: 'GET',
        //                     url: '/Admin/Department/GetAll',
        //                     success: function (res) {
        //                         $("#txtDepartment").empty();
        //                         for (var item of res) {
        //                     $("#txtDepartment").append(`<option value="${item.departmantName}">${item.departmantName}</option>`);


        //                         }

        //                     }
        //                 });

        //             }

        //         }



        $(document).ready(function () {
            list();
            $("#btnAdd").click(function () {
                //$("input").val('');
                $("input.form-control").val('');
                //btn Add'e tıklandıgında, btnSave buttonunun clickini orrda tanımlaman lazım tek modalla çalışırken bunlara dikkat etmek gerek.
                $("#btnSave").off().click(function () {
                    var form = document.getElementById('frmAddDestination');
                    if (form.checkValidity()) {
                        $.ajax({
                            type: 'POST',
                            url: '/Admin/Department/Add',
                            data: { departmantName: $("#txtDepartment").val() },
                            success: function () {
                                $("#modalList").modal('hide');
                                $("#tblListDepartment").DataTable().ajax.reload();
                            }
                        });
                    } else {
                        // Bootstrap'un hata mesajlarını göstermesi için gerekli sınıfı ekleyin
                        form.classList.add('was-validated');
                    }
                });
                $("#btnSave").text("Kaydet");
                $("#modalTitleId").text("Departman Ekle");
                //sanırım oldu istedğin ? evet hocam dün o kadar baltım bir türlü görememiştim :/ En büyük gaflet şu ; modal kapanınca sanki herşeyy eskisine geri dönyor gibi düşünüyoruz, ama malesef dönmüypr, eskisine dönmesi için sayfanın refresh olması lazım cunku. biz sayfayı refresh etmediğimiz için, her duruma göre, buttonun eventini, modalın baslıgını buttonun textini eski haline kendimiz getirmemiz gerekiyor. evet hocam aynen dediğiniz gibi oluyordu refresh atınca eski hline dönüyordu ama refresh atmadan eski olmuyordu . işte bunla ugrasmak istemeyenler sayfaya 2 tane modal koyuyor biri sadece update biri sadece insert için çağrılıyor ama boylesi daha prof. tek modal mı? evet, tek modalı yonetmek daha çok detay istiyor gordugun gibi, daha ince görmek gerekiyor. bunu da görmü olduk hocam artık unutmam :) ben kaçıyorum varmı baska birşey ? hocam şimdilik yok olursa yine yazarım size telrar çok teşekkür ederim. :) savaşta da aynı hata var mı ? evet hocam o da bulamadı ikizmide çok baktık ama bulamamıştık. hadi bakalım, şimdi savaşa sen anlatırsan bunu, bi daha hiç unutmazsın :) evet hocam anlatıcam artık unutmam dediğiniz gibi . hocam birşey daha sorabirli miyi son olarak? sor bakalım.
                $("#modalList").modal('show');// modalList'i mi yanlış yazmışım hocam 
                fillListDepartment();
            });


            //hocam ilk önce projyi çalıştırayım göstreryimm istersehiz nasıl oluyor diye? bi dk cocugu giydiriyorum tamam hocam.
            //sorun ne şimdi bana onu soyle once çalışınca neye bakacagımızı bilelim hocam şöyle. adminsayfasın agiriş yaptıktan sonra departmanlara departman ekle diye tıklayınca tek sferliğine departman ekle butonu çıkıyor sonr amesela bi güncelleme yapayım diyınce evet onu da güncelliyor ama sonra tekrar birşey kaydetmek istediğimizde  hep güncelle geliyor modal geliyor snaki id'si takılı kalıyor gibi. güncllenin böyle oluyor hcam

            


        });


        

        function list() {
            $("#tblListDepartment").DataTable({
                ajax: { url: '/Admin/Department/GetAll', dataSrc: '' },
                columns: [
                    { data: 'id', title: 'ID', },
                    { data: "departmantName", title: 'Departman AD ' },
                    {
                        data: "id",
                        type: "departmantName",
                        render: function (data, type, row) {
                            return `<a href="#" onclick="deleteDepartment(${data})" class="btn btn-sm btn-danger">Sil</a> <a onclick="updateDepartment('${data}','${row.departmantName}')" class="btn btn-sm btn-primary">Güncelle</a>`;
                        }
                    }],
                language: {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Turkish.json"
                }

            });
        }

     
        function deleteDepartment(id) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteById","Department")',
                data: { departmentId: id },
                success: function (data) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Başarılı',
                        message: 'Departman Silindi',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    $("#tblListDepartment").DataTable().ajax.reload();
                }
            });
        }



        function fillListDepartment(departmantName) {
            $.ajax({
                type: 'GET',
                url: '/Admin/Department/GetAll',
                success: function (res) {
                    $("#txtDepartment").empty();
                    for (var item of res) {
                        $("#txtDepartment").append(`<option value="${item.departmantName}">${item.departmantName}</option>`);
                    }
                }
            });
        }


        function updateDepartment(id, departmantName) {
            fillListDepartment(departmantName);
            $("#txtDepartment").val(departmantName);
            
            $("#modalList").modal("show");
            $("#modalTitleId").text("Departman  Güncelle");
            $("#btnSave").text("Güncelle");//update metodu calıstıgında btnsave in ismini guncelle olarak değiştiriyorsun, sonra da ona guncelleme ile alakalı click metodunu baglıyorsun ve öylece kalıyor. sonra sen aynı modali save buttonu uzerinden cağırdıgında sonn hali neyse o kalıyor. o zaman btnAdd mi dmemeiz gerekecek üstteki id gibi, yoksa güncelle mi, hayır, ekleme için modalı açtırırken de bu btnsave'in adını kayydet olarak değiştirip click eventini ayarlaman gerekecek
            //$("#btnSave").unbind("click");
            $("#btnSave").off();
            $("#btnSave").click(function () {
                var form = document.getElementById('frmAddDestination');
                if (form.checkValidity()) {
                    $.ajax({
                        type: 'POST',
                        url: '/Admin/Department/Update',
                        data: { id: id, departmantname: $("#txtDepartment").val() },
                        success: function () {
                            $("#modalList").modal("hide");
                            $("#tblListDepartment").DataTable().ajax.reload();
                        }
                    });

                }
                else {
                    // Bootstrap'un hata mesajlarını göstermesi için gerekli sınıfı ekleyin
                    form.classList.add('was-validated');
                }
            });
        }
    </script>
}
