<div class="row">
    <div class="col-lg-12 ">
        <div class="card border border-primary">
            <div class="card-header bg-primary border-primary">
                <h5 class="my-0 text-white"><i class="uil uil-message me-3"></i>Departmanlar</h5>
            </div><!-- end card-header -->
            <div class="card-body">
                <a href="#" id="btnAdd" class="btn btn-primary">Yeni Departman Ekle</a>
                <table id="tblDestinations" class="table table-striped table-bordered">
                </table>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
</div>

<div class="modal fade" id="modalAddUpdate" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Yeni Rota Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#modalAddUpdate" aria-label="Close"></button>
            </div>
            <form id="frmAddDestination" class="needs-validation">
                <div class="modal-body" style="max-height: 80vh; overflow-y: auto;">
                    <div class="container">
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Fotoğraf</label>
                            <img src="assest/images/users/avatar/4.jpg" id="imgProfilePicture" alt="" height="250">
                            <input type="file" name="uploadfife" id="fileProfilePicture" style="display:none; " accept=".jpeg,.jpg,.png" />
                            <div class="col-8">
                                <label for="fileProfilePicture"><a class="btn btn-success btn-sm">Seç</a></label>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Fotoğraf 2</label>
                            <img src="assest/images/users/avatar/4.jpg" id="imgProfilePicture2" alt="" height="250">
                            <input type="file" name="uploadfife2" id="fileProfilePicture2" style="display:none; " accept=".jpeg,.jpg,.png" />
                            <div class="col-8">
                                <label for="fileProfilePicture2"><a class="btn btn-success btn-sm">Seç</a></label>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Fotoğraf 3</label>
                            <img src="assest/images/users/avatar/4.jpg" id="imgProfilePicture3" alt="" height="250">
                            <input type="file" name="uploadfife3" id="fileProfilePicture3" style="display:none; " accept=".jpeg,.jpg,.png" />
                            <div class="col-8">
                                <label for="fileProfilePicture3"><a class="btn btn-success btn-sm">Seç</a></label>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputCity" class="col-4 col-form-label">Şehir</label>
                            <div class="col-8">
                                <input type="text" data-parsley-required-message="Lütfen şehir giriniz" class="form-control needs-validation" required id="txtCity" placeholder="Lütfen şehir giriniz" />
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Fiyat</label>
                            <div class="col-8">
                                <input type="text" data-parsley-required-message="Lütfen fiyat giriniz" class="form-control needs-validation" required id="txtPrice" placeholder="Lütfen fiyat giriniz" />
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">Açıklama</label>
                            <div class="col-8">
                                <input type="text" data-parsley-required-message="Lütfen açıklama giriniz" data-parsley-minlength="20" class="form-control needs-validation" required id="txtDescription" placeholder="Lütfen açıkalama giriniz" />
                            </div>
                            <div class="mb-3 row">
                                <label for="inputCity" class="col-4 col-form-label">Açıklama 2 </label>
                                <div class="col-8">
                                    <input type="text" data-parsley-required-message=" Lütfen açıklama giriniz " class="form-control needs-validation" required id="txtDescription2" placeholder="Lütfen açıklama giriniz" />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inputCity" class="col-4 col-form-label">Açıklama 3 </label>
                                <div class="col-8">
                                    <input type="text" data-parsley-required-message=" Lütfen açıklama giriniz " class="form-control needs-validation" required id="txtDescription3" placeholder="Lütfen açıklama giriniz" />
                                </div>
                            </div>
                            <div class="mb-3 row">

                                <label for="inputName" class="col-4 col-form-label">Kaç Kişilik</label>
                                <div class="col-8">
                                    <input type="text" data-parsley-required-message="Lütfen kaç kişilik olduğunu giriniz" class="form-control needs-validation" required id="txtCapacity" placeholder="Lütfen kapasiteyi giriniz" />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inputName" class="col-4 col-form-label">Kaç Gündüz</label>
                                <div class="col-8">
                                    <input type="text" data-parsley-required-message="Lütfen kaç gündüz olduğunu giriniz" class="form-control needs-validation" required id="txtDay" placeholder="Lütfen kaç gün olduğunu giriniz" />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inputName" class="col-4 col-form-label">Kaç Gece</label>
                                <div class="col-8">
                                    <input type="text" data-parsley-required-message="Lütfen kaç gece olduğunu giriniz" class="form-control needs-validation" required id="txtNight" placeholder="Lütfen kaç gün olduğunu giriniz" />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inputEat" class="col-4 col-form-label">Yeme-İçme</label>
                                <div class="col-8">
                                    <input type="text" data-parsley-required-message="Lütfen yeme-içme bilgilerini giriniz" class="form-control needs-validation" required id="txtEati" placeholder="Lütfen yeme-içme bilgilerini giriniz" />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inputGezi" class="col-4 col-form-label">Gezi Noktaları</label>
                                <div class="col-8">
                                    <input type="text" data-parsley-required-message="Lütfen gezi noktalarını giriniz" class="form-control needs-validation" required id="txtGezi" placeholder="Lütfen gezi noktalarını giriniz" />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inputGuide" class="col-4 col-form-label">Rehber</label>
                                <div class="col-8">
                                    <select id="selectGuide" class="form-control" name="SelectedGuides" asp-items="@ViewBag.Guides"></select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inputOnem" class="col-4 col-form-label">Önemli Bilgiler</label>
                                <div class="col-8">
                                    <input type="text" data-parsley-required-message="Lütfen önemli bilgileri giriniz" class="form-control needs-validation" required id="txtOnem" placeholder="Lütfen önemli bilgileri giriniz" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="#modalAddUpdate">Kapat</button>
                    <button type="submit" class="btn btn-primary" id="btnSave">Kaydet</button>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts
    {
    <script>


        // $("#btnAdd").click(function () {
        //     $("#modalAddUpdate").modal('show')
        //     $("#btnSave").click(function () {
        //         event.preventDefault();
        //         if ($("#frmAddDestination").parsley().isValid() == false) {
        //             $("#frmAddDestination").parsley().validate();
        //             $("#frmAddDestination").addClass("was-validated");
        //         }
        //         else {
        //             var formData = new FormData();
        //             var selectedGuides = $("#selectGuide").val();
        //             for (var i = 0; i < selectedGuides.length; i++) {
        //                 formData.append("SelectedGuides", selectedGuides[i]);
        //             }
        //             formData.append("file", $("#fileProfilePicture")[0].files[0]);
        //             formData.append("file2", $("#fileProfilePicture2")[0].files[0]);
        //             formData.append("file3", $("#fileProfilePicture3")[0].files[0]);
        //             formData.append("city", $("#txtCity").val());
        //             formData.append("price", $("#txtPrice").val());
        //             formData.append("description", $("#txtDescription").val());
        //             formData.append("description1", $("#txtDescription2").val());
        //             formData.append("description2", $("#txtDescription3").val());
        //             formData.append("capacity", $("#txtCapacity").val());
        //             formData.append("day", $("#txtDay").val());
        //             formData.append("night", $("#txtNight").val());
        //             formData.append("eatinganddrinking", $("#txtEati").val());
        //             formData.append("importantinformations", $("#txtOnem").val());
        //             //formData.append("Guides", selectedGuides.join(','));
        //             $.ajax({
        //                 type: 'POST',
        //                 url: '/Admin/Destination/Add',
        //                 data: formData,
        //                 contentType: false,
        //                 processData: false,
        //                 success: function (data) {
        //                     $("#tblDestinations").DataTable().ajax.reload().val();
        //                 }
        //             })

        //         }
        //         $("#modalAddUpdate").modal('hide');
        //     })
        // })

        
            // var DataTable;
            // $("#tblDestinations").DataTable({
            //     ajax: '@Url.Action("GetAll", "Department")',
            //     columns: [
            //         { data: 'departmantname', title: 'ad' },
            //         // {
            //         //     data: 'image3', title: 'Fotoğraf3', render: function (data) {
            //         //         return `<a class="btn btn-success" href="/Files/Destinations/${data}">Görsel</a>`
            //         //     }
            //         // },
            //         {
            //             data: 'id', render: function (data) {
            //                 return `<a href="#" onclick="deleteDestination(${data})" class="btn btn-sm btn-danger">Sil</a>`;
            //             }
            //         }

            //     ],
            //     language: {
            //         "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Turkish.json"
            //     }
            // });

        $(document).ready(function () {
            var DataTable;
            $("#tblDestinations").DataTable({
                ajax: '/Admin/Department/GetAll',
                columns: [
                    { data: 'id', title: 'ID', },
                    { data: "DepartmantName", title: 'Departman AD ' },

                    {
                        data: 'pictures', title: 'Fotolar', render: function (data, type, row) {

                            return `<a href="/Admin/Service/Pictures/?serviceId=${row.id}" class="btn btn-sm btn-primary">${data.length}</a>`;

                        }
                    },
                    // {
                    //     data: "departmentName",title:'Departmanlar',
                    //     render: function (data,type,row) {
                    //         return `<a href="/Admin/Department/GetAll/class="btn btn-sm btn-primary">${data.length}</a>`;
                    //     }
                    // }
                ],

                language: {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Turkish.json"
                }
            });
        });



        // function deleteDestination(id) {
        //     $.ajax({
        //         type: 'POST',
        //         url: '@Url.Action("DeleteById","Destination")',
        //         data: { destinationsId: id },
        //         success: function (data) {
        //             Swal.fire({
        //                 icon: 'success',
        //                 title: 'Başarılı',
        //                 message: 'Tur Silindi',
        //                 showConfirmButton: false,
        //                 timer: 1500
        //             });
        //             $("#tblDestinations").DataTable().ajax.reload();
        //         }
        //     })

        // }

        // // function updateDestination(id) {
        // //     window.location.href = `@Url.Action("Update", "Destination")?id=${id}`;
        // // }



    </script>
}